<html>

<head>
  <title>add challenge</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" href="/styles/addChallenge.css" />
</head>

<body>

  <div class="wrapper">


  <form action="/challenges" method="POST">
    <textarea id="description" placeholder="challenge description" name="description" required cols="30" rows="10"></textarea>

    <textarea id="summary" placeholder="challenge summary" name="summary" required cols="30" rows="10"></textarea>
    <textarea id="starter_code" placeholder="starter code" name="starter_code" required cols="30" rows="10"></textarea>
    <textarea id="test" placeholder="challenge test" name="test" required cols="30" rows="10"></textarea>
<br />
<br />
<br />

<br />


    <label for="">challenge name : </label> 
    <br>
    <br>

     <input type="text" name="name" id="challengeName" required>
     <br>
    <br>

    <input type="submit" value="save">
  </form>


</div>


  <!-- <script type="text/javascript" src="/js/addChallenge.js"></script> -->
</body>

</html>