<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
    </header>
    <main>

        <section id="started-challenge">

            <div id="challenge-description">
                <p><%= challenge.description %></p>
            </div>

            <div id="work-area">

              <!--  <form id="saveChallenge" action="/user/5f77602cef04c10bf9618c96/challenges" method="POST"> -->  <!-- save challenge to user profile -->
                    <textarea name="solution" id="userSolution" cols="70" rows="40">
                    <%= challenge.solution? challenge.solution : challenge.starter_code %>
                </textarea>
                <input id="inputUser_id" type="hidden" name="user_id" value="5f77602cef04c10bf9618c96">
                <input id="inputChallenge_id" type="hidden" name="challenge_id" value=`<%= challenge._id %>`>
                <!-- <input type="submit" value="save"> -->
                    <button onclick="checkResult()">check</button>
                </form>
            </div>

        </section>


        <section id="results">
            <div id="result-failed-cases"></div>
            <div id="result-passed-cases"></div>
        </section>



    </main>
    <footer>
    </footer>
    <!--  <script src="/js/challenge.js"></script> -->
    <script>
        function checkResult() {
            let data = document.getElementById("userSolution").value;
            fetch("http://localhost:4000/challenges/<%= challenge._id %>/test", { method: "POST", body: JSON.stringify(data), }).then(res => res.json()).then(response => {
                console.log(response);
                document.getElementById('result-failed-cases').innerText = response.stderr;
                document.getElementById('result-passed-cases').innerText = response.stdout;
            });
        }

    </script>
</body>

</html>
