<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css" />
  </head>
  <body>
    <header>
      <nav class="menu">
        <ol>
          <li class="menu-item"><a href="#">Home</a></li>
          <li class="menu-item"><a href="/challenges">challenges</a></li>
          <li class="menu-item"><a href="/codeeditor">editor</a></li>
          <li class="menu-item"><a href="/about">about Us</a></li>
          <li class="menu-item"><a href="/signup">signup</a></li>
          <li class="menu-item"><a href="/signin">signin</a></li>
          
        </ol>
      </nav>
    </header>
    <main>


        <div class="blockquote-wrapper">
            <div class="blockquote">
              <h1>
                Build your code <span style="color:#ffffff">,from end-to-end  </span> and let your work done faster <span style="color:#ffffff"> , AND FASTER !!</span>
               </h1>
              <h4>&mdash; Coodak<br><em>web site For Test And run your Code</em></h4>
            </div>
          </div>


          <div class="tabled">
      
            <div class="linkDiv">
              <a href="/codeeditor">
                <span class="thin"></span><span class="thick">Get Started !</span>
              </a>
              
            </div>
       
        </div>
<!-- <div>
  <a href="/signin">
    <span class="thin"></span><span class="thick">signin !</span>
  </a>
</div> -->


              <div class="blog-card">
                <div class="meta">
                  <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)"></div>
                  <ul class="details">
                    <li class="author"><a href="#">Coodak</a></li>
                    <li class="tags">
                      <ul>
                        <li><a href="#">Learn</a></li>
                        <li><a href="#">Code</a></li>
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JS</a></li>

                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="description">
                  <h1>Learning to Code</h1>
                  <h2>Opening a door to the future</h2>
                  <p> Get work done quicker by building out entire projects or isolating code to test features . Want to keep it all under wraps? !!..</p>
                  <p class="read-more">
                    <a href="/codeeditor">Read More</a>
                  </p>
                </div>
              </div>
              <div class="blog-card alt">
                <div class="meta">
                  <div class="photo" style="background-image: url(https://images.unsplash.com/photo-1549692520-acc6669e2f0c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1533&q=80)"></div>
                  <ul class="details">
                    <li class="author"><a href="#">Coodak</a></li>
                    <li class="tags">
                      <ul>
                        <li><a href="#">Learn</a></li>
                        <li><a href="#">Code</a></li>
                        <li><a href="#">Do your Challenges</a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="description">
                  <h1>Start Your Challenges</h1>
                  <h2>lets go and test your logical thinking</h2>
                  <p>choose a code challenge from wide and different list of challenges, start practice and we will check your solution!!..</p>
                  <p class="read-more">
                    <a href="/challenges">Read More</a>
                  </p>
                </div>
              </div>
    </main>
  </body>
</html>
