<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>aouth</title>
  <link rel="stylesheet" href="../styles/signup.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>
  <main>


    <div class='bold-line'></div>
    <div class='container'>
      <div class='window'>
        <div class='overlay'></div>
        <div class='content'>
          <div class='welcome'>Welcome to Coodak ! </div>

          <div class='subtitle'> Before using our services you need to SignUp</div>
          <form method="post" action="/users/signup">
            <input required type='text' name="username" placeholder='Username' class='input-line full-width'></input>
            <input required type='email' placeholder='Email' class='input-line full-width'></input>
            <input required type='password' name="password" placeholder='Password'
              class='input-line full-width'></input>
            <input required type='password' placeholder='Confirm Password' class='input-line full-width'></input>
            <li id="authinticationError" style="color: red;"></li>
            <div><button type="submit" class='ghost-round full-width'> Create Account </button></div>
            <form>
        </div>
      </div>
    </div>

  </main>


  <script>
    const urlParams = new URLSearchParams(window.location.search);
    const msg = urlParams.get('message');
    console.log(msg);
    document.getElementById("authinticationError").innerText = msg;

  </script>
</body>

</html>