<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>aouth</title>
    <link rel="stylesheet" href="../styles/signin.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

  <body>
    <main>
        <!-- <a id="oauth" href="#">Login By GitHub</a>

        <a href="#" id="oauthGoogle" class="google btn"><i class="fa fa-google fa-fw">
        </i> Login with Google+
        </a> -->


        <div class='bold-line'></div>
        <div class='container'>
          <div class='window'>
            <div class='overlay'></div>
            <div class='content'>
              <div class='welcome'>Hello There!</div>

              <div class='subtitle'> Before using our services you need to SignIn</div>
              <div class='input-fields'>
                <form method="post" action="/users/signin">
                  <input required="true" type='email' placeholder='Email' class='input-line full-width'></input>
                  <input required="true" type='password' placeholder='Password' class='input-line full-width'></input>
                  <br/>
                  <br/>
                  <div><button type="submit" class='ghost-round full-width'> Login</button></div>
                </form>

              </div>
              <div class='spacing'> <h3>Or continue with</h3>
                  <br>

                 <!-- <span id="oauth" class='highlight'> Login with GitHub <i class="fab fa-github"></i></span> -->
                 <a id="oauth" href="#" > GitHub <i class="fab fa-github"></i></a>

                  <a href="#" id="oauthGoogle" class="google btn"> Google+ <i class="fa fa-google fa-fw"> </i></a>
                <!-- <span id="oauthGoogle" class='highlight'>Login with Google+ <i class="fab fa-google-plus-g"></i> </span> -->
            </div>
            </div>
          </div>
        </div>

      <a href="#" id="oauthGoogle" class="google btn"
        ><i class="fa fa-google fa-fw"> </i> Login with Google+
      </a>
    </main>
    <script>
      let URL = "https://github.com/login/oauth/authorize";
      let options = {
        client_id: "d3c0c39f87fedf5a33c8",
        redirect_uri: "http://localhost:4000/oauth2",
        scope: "read:email",
        state: "asldfjdfs",
      };
      let QueryString = Object.keys(options)
        .map((key) => {
          return `${key}=` + encodeURIComponent(options[key]);
        })
        .join("&");
      let authURL = `${URL}?${QueryString}`;
      console.log(">>>> auth ", authURL);
      let link = document.getElementById("oauth");
      link.setAttribute("href", authURL);
    </script>

    <script>
      let googleURL = "https://accounts.google.com/o/oauth2/v2/auth";

      let googleOptions = {
        response_type: "code",
        client_id:
          "425927941032-6o1spfk58qsfo8fdfrka1ang198ahimd.apps.googleusercontent.com",
        redirect_uri: "http://localhost:4000/oauth",
        scope: "openid email profile",
        state: "http://localhost",
        access_type: "offline",
      };

      let queryString = Object.keys(googleOptions)
        .map((key) => {
          return `${key}=` + encodeURIComponent(googleOptions[key]);
        })
        .join("&");

      let googleAuthURL = `${googleURL}?${queryString}`;

      let googleLink = document.getElementById("oauthGoogle");
      googleLink.setAttribute("href", googleAuthURL);
    </script>
  </body>
</html>
