<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whiteboard</title>
    <link rel="stylesheet" href="./styles/white.css" />
  </head>

  <body>
    <main>
      <h2 id="titleW">Whiteboard</h2>

      <form action="">
        <div class="grid-container">
          <div class="grid-item">
            <h3>Problem Domain</h3>
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <br />
            <label for="input">Input </label>
            <input id="input" type="text" />
            <br />
            <label for="output">Output </label>
            <input id="output" type="text" />
          </div>

          <div class="grid-item">
            <h3>Algorithem</h3>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>

          <div class="grid-item">
            <h3>Edge Cases</h3>
            <textarea name="bigO" id="bigO" cols="30" rows="10"></textarea>
          </div>

          <div class="grid-item">
            <h3>pseudo Code</h3>
            <textarea
              name="pseudoCode"
              id="pseudoCode"
              cols="30"
              rows="10"
            ></textarea>
          </div>

          <!-- <div class="grid-item">
            <h3>Code</h3>
            <textarea name="code" id="code" cols="30" rows="10"></textarea>
          </div> -->

          <div class="grid-item">
            <h3>Big O</h3>
            <textarea name="bigO" id="bigO" cols="30" rows="10"></textarea>
          </div>
        </div>
      </form>
    </main>
  </body>
</html>
